@model RAS.Bootcamp.mvc.Models.Entities.Pembeli;

@{
    ViewData["Title"] = "Home Page";
}
<h1>Form Update</h1>
<form action="UpdatePembeli" method="Post">
  <input type="hidden" asp-for="IdPembeli"></input>
  <div class="form-group">
    <label for="exampleInputEmail1">Nama</label>
    <input type="text" class="form-control" id="Nama" aria-describedby="Nama" placeholder="Masukan Nama" asp-for="Nama"
     value="@Model.Nama">
    <small id="Nama" class="form-text text-muted">Tolong Masukan Nama Anda Disini!</small>
  </div>
  <div class="form-group">
    <label for="text">No HandPhone</label>
    <input type="text" class="form-control" id="No_HandPhone" placeholder="Masukan No.HandPhone" asp-for="No_HandPhone"
     value="@Model.No_HandPhone">
  </div>
  <div class="form-group">
    <label for="text">Alamat</label>
    <input type="text" class="form-control" id="Alamat" placeholder="Masukan Alamat" asp-for="Alamat"
     value="@Model.Alamat">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>